version: '3'
services:
  app:
    build:
      context: .
    volumes:
      - .:/usr/local/src/project
    environment:
      - TWINE_USERNAME=__token__
      - TWINE_NON_INTERACTIVE=1
      - TWINE_PASSWORD
      - WAYSCRIPT_ORIGIN
    env_file:
      # if you want to test publishing, put your test pypi creds in .env.pypi-test
      # - ./.env.pypi-test
      - ./env.meierj.local
    stdin_open: true
    tty: true

